// Header styling
 .nav-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #540000;
 }

//  Devise form styling
 .field {
    margin: 10px;
  }
  .actions {
      margin: 10px;
  }

 @import 'bootstrap';
 