// Imports
 @import 'bootstrap';
 @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script&family=Lobster&display=swap');

 *{
   font-family: 'Lobster', cursive;
 }

// Footer/Header styling
.footer{
  bottom: 0;
  position: fixed;
  width: 100%;
}
.header{
  top: 0;
  position: fixed;
  width: 100%;
}

/* Add a red background color to the bars */
.nav-bar, .foot-bar {
  background-color: #540000;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Style the links inside the bars */
.nav-bar a {
  float: left;
  color: goldenrod;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  background-color: #540000;
  width: 20%;
}
.foot-bar a {
  float: left;
  color: goldenrod;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 17px;
  background-color: #540000;
  width: 33%;
}

/* Change the color of links on hover */
.nav-bar a:hover {
  background-color: goldenrod;
  color: #3C3A43;
}

.foot-bar a:hover {
  background-color: goldenrod;
  color: #3C3A43;
}
// universal styling
* {
  background-color: #3C3A43;
  color: goldenrod;
}

//  Devise form styling
 .field {
    margin: 10px;
  }
  .actions {
      margin: 10px;
  }

  // Card styling
  .card{
    text-align: center;
  }

 